/*
   ============
       HOME
   ============
*/

/* ================================================== desktop style ================================================== */

@media (min-width: 861px) {

  .home .container {
    display: flex;
    flex-direction: column;
    /* Per disporre l'immagine e il paragrafo uno sotto l'altro */
    justify-content: center;
    /* Per centrare verticalmente */
  }

  .home .row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    height: 95.6vh;
    padding: 10%;
  }

  .home .home-info,
  .home .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  /* ---------- Home info ---------- */
  .home .home-info {
    display: flex;
    flex-wrap: wrap;
  }

  .home .home-info p {
    font-size: 20px;
    color: var(--text-black-700);
  }

  .home h3.hello {
    font-size: 28px;
    margin: auto;
  }

  .home h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
  }

  .home h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
  }

  .home .typing {
    color: var(--skin-color);
  }

  /* ---------- Home photo ---------- */
  .home .home-img {
    position: relative;
    margin-left: 2rem;
  }

  .home .home-img::before,
  .home .home-img::after {
    content: '';
    position: absolute;
    height: 10%;
    width: 10%;
    border: 1px solid var(--skin-color);
  }

  .home .home-img::before {
    border-top-width: 12vh;
    border-left-width: 12vh;
    top: -7.5%;
    left: -9%;
  }

  .home .home-img::after {
    border-bottom-width: 12vh;
    border-right-width: 12vh;
    bottom: -7%;
    right: -8%;
  }

  .home .border {
    width: 290px;
    height: 350px;
    background: transparent;
    border-radius: 10px;
    position: relative;
  }

  .home .card {
    width: fit-content;
    height: fit-content;
    background: grey;
    border-radius: 10px;
    transition-duration: 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15%;
  }

  .home .card0 {
    background: url('/assets/Photo/traore_adama_emmanuel_photo.jpeg') bottom center no-repeat;
    background-size: 300px;
    margin: auto;
    width: fit-content;
    z-index: 1;

    &:hover {
      background: url('/assets/Photo/traore_adama_emmanuel_photo.jpeg') left center no-repeat;
      background-size: 620px;
    }

    .fa {
      opacity: 1;
    }
  }

  .home .icons {
    font-size: 40px;
    width: 70px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .home .buttons-home-about {
    display: flex;
    justify-content: center;
    margin-top: -23rem;
  }

}

/* ================================================== Tablet style ================================================== */
@media (min-width: 710px) and (max-width: 860px) {

  .home .container {
    display: flex;
    flex-direction: column;
    /* Per disporre l'immagine e il paragrafo uno sotto l'altro */
    justify-content: center;
    /* Per centrare verticalmente */
  }

  .home .row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    height: 94.4vh;
    padding: 4%;
  }

  .home .home-info,
  .home .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  /* ---------- Home info ---------- */
  .home .home-info {
    display: flex;
    flex-wrap: wrap;
  }

  .home .home-info p {
    font-size: 20px;
    color: var(--text-black-700);
  }

  .home h3.hello {
    font-size: 28px;
    margin: auto;
  }

  .home h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
  }

  .home h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
  }

  .home .typing {
    color: var(--skin-color);
  }

  /* ---------- Home photo ---------- */
  .home .home-img {
    position: relative;
    margin-left: 3rem;
  }

  .home .home-img::before,
  .home .home-img::after {
    content: '';
    position: absolute;
    height: 10%;
    width: 10%;
    border: 1px solid var(--skin-color);
  }

  .home .home-img::before {
    border-top-width: 12vh;
    border-left-width: 12vh;
    top: -7%;
    left: -9%;
  }

  .home .home-img::after {
    border-bottom-width: 12vh;
    border-right-width: 12vh;
    bottom: -7%;
    right: -8%;
  }

  .home .border {
    width: 290px;
    height: 350px;
    background: transparent;
    border-radius: 10px;
    position: relative;
  }

  .home .card {
    width: fit-content;
    height: fit-content;
    background: grey;
    border-radius: 10px;
    transition-duration: 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15%;
  }

  .home .card0 {
    background: url('/assets/Photo/traore_adama_emmanuel_photo.jpeg') bottom center no-repeat;
    background-size: 300px;
    margin: auto;
    width: fit-content;
    z-index: 1;

    &:hover {
      background: url('/assets/Photo/traore_adama_emmanuel_photo.jpeg') left center no-repeat;
      background-size: 620px;
    }

    .fa {
      opacity: 1;
    }
  }

  .home .icons {
    font-size: 40px;
    width: 70px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .home .buttons-home-about {
    display: flex;
    justify-content: center;
    margin-top: -30%;
  }

}

/* ================================================== Phone style ================================================== */
@media (max-width: 709px) {
  .home .container {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .home .row {
    padding: 7%;
    top: 10%;
  }

  .home .section-title {
    margin: auto;
    width: 50%;
  }

  .mobile-style-text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
    font-size: 2.5vh;
    text-align: center;
    color: var(--skin-color);
  }

  .home .home-info,
  .home .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  /* ---------- Home info ---------- */
  .home .home-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
  }

  .home .home-info p {
    font-size: 20px;
    color: var(--text-black-700);
  }

  .home h3.hello {
    font-size: 28px;
    margin: auto;
  }

  .home h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
  }

  .home h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
  }

  .home .typing {
    color: var(--skin-color);
  }

  /* ---------- Home photo ---------- */
  .home .home-img {
    position: relative;
    flex: 0 0 10%;
    margin: auto;
    width: 100%;
  }

  .home .home-img::before,
  .home .home-img::after {
    content: '';
    position: absolute;
    height: 10%;
    width: 10%;
    border: 1px solid var(--skin-color);
  }

  .home .home-img::before {
    border-top-width: 12vh;
    border-left-width: 12vh;
    top: -7.5%;
    left: -3%;
  }

  .home .home-img::after {
    border-bottom-width: 12vh;
    border-right-width: 12vh;
    bottom: -7%;
    right: -2.5%;
  }

  .home .border {
    width: 290px;
    height: 350px;
    background: transparent;
    border-radius: 10px;
    position: relative;
  }

  .home .card {
    width: fit-content;
    height: fit-content;
    background: grey;
    border-radius: 10px;
    transition-duration: 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15%;
  }

  .home .card0 {
    background: url('/assets/Photo/traore_adama_emmanuel_photo.jpeg') bottom center no-repeat;
    background-size: 300px;
    margin: auto;
    width: fit-content;
    z-index: 1;

    &:hover {
      background: url('/assets/Photo/traore_adama_emmanuel_photo.jpeg') left center no-repeat;
      background-size: 620px;
    }

    .fa {
      opacity: 1;
    }
  }

  .home .icons {
    font-size: 25px;
    width: 50px;
    height: 130px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .home .buttons-home-about {
    display: flex;
    justify-content: center;
  }

}