@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

/*
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
     Ensure the body and html occupy full height
}
*/

* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Courier, monospace;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    /*
    display: flex;
    justify-content: center;
    justify-self: center;
    /* Centers the content horizontally 
    /*    align-items: center; /* Centers the content vertically 
    padding: 20px;
/*    height: 100vh;
    width: 100vh;
    padding: 0 0 100vh;
    min-height: 100vh;
    display: grid;
    place-items: center;*/
    display: flex;
    flex-direction: column;
    /*    gap: 25vh;
    height: 100vh;*/
}

.content-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.content__width {
    max-width: 900px;
}

.header-container {
    display: flex;
    /* Abilita Flexbox */
    justify-content: space-between;
    /* Spazia gli elementi ai due estremi */
    align-items: center;
    width: 100%;
    /* Assicurati che occupi tutta la larghezza */
    box-sizing: border-box;
    /* Considera il padding nella larghezza */
    padding: 5px 0 0 50px;
}

.title_frame {
    position: relative;
}
/*
.first__bottom__line,
.second__bottom__line {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Rende la croce cliccabile attraverso 
    display: flex;
    justify-content: center;
    align-items: center;
}

.first__bottom__line {
    top: 70%;
    left: 75%;
}

.second__bottom__line {
    top: 89%;
    left: 90%;
}

.first__bottom__line::before,
.second__bottom__line::after {
    width: 60%;
    /* Larghezza del braccio verticale 
    height: 10%;
}

.first__bottom__line::before,
.second__bottom__line::after {
    content: '';
    position: absolute;
    background-color: var(--skin-color);
    /* Colore semi-trasparente per la croce 
}
*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    flex: 1;
}

/*
.top__content__margin {
    margin-top: 15%;
}
*/
.title {
    padding: 8px 0 0 50px;
    font-weight: 700;
}

.theme {
    padding-right: 10px;
}

/*
.section-title {
    display: flex;
    /* Abilita Flexbox 
    justify-content: space-between;
    /* Spazia gli elementi ai due estremi 
    align-items: center;
    /* Centra verticalmente gli elementi 
    box-sizing: border-box;
    /* Considera il padding nella larghezza 
}
*/
/*
    .section-title {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    margin-left: 3rem;
    position: fixed;
    top: 0;
  }
  */

.section-title h2 {
    margin: 0;
    /* Rimuove margini esterni */
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
}

/*
.container {
    display: flex;
    flex-direction: column;
    /* Per disporre l'immagine e il paragrafo uno sotto l'altro 
    justify-content: center;
    /* Per centrare verticalmente */
/* height: 100vh;
    transition: background-color 0.8s;
}
*/
/*
body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}
*/
/*colore tema*/
body.light {
    background-color: #ffffff;
    color: #000000;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

body.dark {
    background-color: #000;
    color: #ffffff;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

/*
.theme {
    margin-left: auto;
    /* Spinge il bottone verso destra 
}
*/
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.isLight,
.isDark {
    cursor: pointer;
    background: none;
    border: transparent;
    position: relative;
    background-color: transparent;
    margin-top: 0.5rem;
}

/*
.isLight {
    border-radius: 50%;
}

.isDark {
    border-radius: 50%;
}
*/
.isMoon,
.isSun {
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.isMoon {
    color: rgb(168, 168, 168);
}

.isSun {
    color: rgb(94, 94, 94);
}

.isMoon:hover {
    transform: scale(1.2);
    color: #3b59ff;
}

.isSun:hover {
    transform: scale(1.2);
    color: rgb(255, 174, 0);
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.hidden {
    display: none !important;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

/*
.row {
        display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
}
*/
.btn {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--skin-color);
    color: #fff;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.10);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* ================================================== Tablet style ================================================== */
@media (min-width: 710px) and (max-width: 860px) {}

/* ================================================== Phone style ================================================== */
@media (max-width: 709px) {
    .section-title h2 {
        font-size: 40px;
        color: var(--text-black-900);
        font-weight: 700;
        position: relative;
        margin: auto;
        width: 50%;
    }

    .btn {
        margin-top: 15%;
        margin-bottom: 10%;
    }
}