<!-- ===== Hobby Section ===== -->
<section class="hobby">
    <div class="container">
        <div class="row">
            <div class="content">
                <a class="card" *ngFor="let hobby of hobbies">
                    <img class="card__background" [src]="hobby.image_url" alt="Photo of hobbies" />
                    <div class="card__content">
                        <div class="card__content--container">
                            <h2 class="card__title titles">{{ hobby.title }}</h2>
                            <p class="card__description">{{ hobby.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>