@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

/* ================================================== desktop style ================================================== */
@media (min-width: 861px) {

  .hobby .row {
    padding: 12%;
    justify-content: center;
  }
  
  .card {
    position: relative;
    display: inline-block;
    width: 27rem;
    height: 30rem;
    margin: 1%;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
  }
  
  .card__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .card__content {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); /* Sfondo semitrasparente */
    color: #fff;
    padding: 1rem;
    transform: translateY(100%); /* Nasconde il contenuto */
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05); /* Ingrandisce la carta */
  }
  
  .card:hover .card__background {
    transform: scale(1.1); /* Effetto zoom sull'immagine */
  }
  
  .card:hover .card__content {
    transform: translateY(0); /* Mostra il contenuto */
  }
  
  .card__title {
    font-size: 1.5rem;
    margin: 0;
    color: var(--skin-color);
  }
  
  .card__description {
    font-size: 1rem;
    margin-top: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .card__description {
    opacity: 1; /* Mostra il testo */
  }
}