<!-- ===== Main Container Start ===== -->
<div class="main-container">

  <!-- ===== START MENU SIDEBAR ===== -->

  <mat-sidenav-container class="main-sideNav">
    <mat-sidenav class="sideNav" #sidenav mode="side" opened="false">
      <!-- Add your sidebar content here -->
      <mat-nav-list>
        <app-section-category (click)="closeSidebar()" />
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidebar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- ===== END MENU SIDEBAR ===== -->

  <!-- ===== START TOP CONTENT ===== -->
  <app-header />
  <!-- ===== END TOP CONTENT ===== -->

  <!-- ===== MAIN CONTENT START ===== -->
  <div class="main-content" (click)="closeSidebar()">
    <router-outlet />
  </div>
  <!-- ===== MAIN CONTENT END ===== -->

</div>