<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div>
                <div class="content">
                    <h1><b>{{ portfolioDetails.title }}</b></h1><br>
                    <h3><b>Methode: </b>{{ portfolioDetails.methode }}</h3><br> <!-- Todo: Refact this line of code -->
                    <h5><h3><b>Details:</b><br></h3>{{ portfolioDetails.objective }}</h5><br> <!-- Todo: Refact this line of code -->
                    <div class="photo">
                        <img src="{{ portfolioDetails.image_url }}" alt="Placeholder Photo">
                    </div>
                    <div class="content-sections">
                        <div class="long-paragraph">
                            {{ portfolioDetails.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>