/* content.component.css */
  
  .content-sections {
    display: flex;
    justify-content: space-between;
  }
  
  .short-paragraph {
    width: 30%;
  }
  
  .long-paragraph {
    width: 100%;
  }

  .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: auto;
  }
  
  h5, h3 {
    margin: 0px;
  }