<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div>
                <div class="content">
                    <h1>{{ portfolioDetails.title }}</h1><br>
                    <h3>{{ portfolioDetails.methode }}</h3><br>
                    <h5>{{ portfolioDetails.objective }}</h5><br>
                    <div class="photo">
                        <img src="{{ portfolioDetails.image_url }}" alt="Placeholder Photo">
                    </div>
                    <div class="content-sections">
                        <div class="long-paragraph">
                            {{ portfolioDetails.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>