<!-- ===== Portfolio Section Card ===== -->
<section class="portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="section-title padd-15">
                    <h2>Portfolio</h2>
                </div>
                <div class="card-container">
                    <div class="card" *ngFor="let portfolio of portfolios">
                        <div class="front item-a">
                            <h1>{{ portfolio.title }}</h1>
                        </div>
                        <div class="back">
                            <div class="text-overlay">
                                <p><b>Methodology : </b>{{ portfolio.methode }}</p><br>
                                <p><b>Objective : </b>{{ portfolio.objective }}</p>
                                <!--    <p><img class="blog-img" src="{{ portfolio.image_url }}" /></p> -->
                            </div>
                            <a class="anchor-tag" routerLink="/section-category/PORTFOLIO/{{portfolio.id}}">Get more
                                details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>