<!-- ===== Start Portfolio Section ===== -->
<container class="container" [ngClass]="currentTheme">
    <content class="content">
        <div class="content__width">
            <div class="buttons-portfolio">
                <a routerLink="/section-category/CONTACT" data-section-index="2" class="btn">Contact me!</a>
                <!-- ALLINEARE AL CENTRO/IN BASSO E FARLO GRANDE -->
            </div>
            <div class="card-container">
                <div class="card" *ngFor="let portfolio of portfolios">
                    <div class="front item-a">
                        <h1>{{ portfolio.title }}</h1>
                    </div>
                    <div class="back">
                        <a class="anchor-tag" routerLink="/section-category/PORTFOLIO/{{portfolio.id}}">Get more
                            details</a>
                    </div>
                </div>
            </div>
        </div>
    </content>
</container>
<!-- ===== End Portfolio Section ===== -->