/*
   ============
       ABOUT
   ============
*/

/* ================================================== desktop style ================================================== */
@media (min-width: 861px) {

    .main-section {
        display: flex;
        justify-content: space-between; /* Distribuisce le sezioni con spazio equidistante */
    }

    .sections {
        flex: 1; /* Permette alle sezioni di avere la stessa larghezza */
        padding: 10px;
        box-sizing: border-box;
    }

    .about .row {
        padding: 5%;
        top: 10rem;
    }

    .info {
        display: flex;
    }

    .about .about-content .info-item {
        flex: 1;
        padding-right: 7%;
    }

    .about .about-content .about-text h3 {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 700;
        color: var(--text-black-900);
    }

    .about .about-content .about-text h3 span {
        color: var(--skin-color);
    }

    .about .about-content .about-text p {
        font-size: 15px;
        line-height: 30px;
    }

    .about .about-content .info-item p {
            padding: 10px 0;
            font-size: 16px;
            color: var(--text-black-900);
            border-bottom: 1px solid var(--bg-black-50);
        }

    .about .about-content .buttons {
        margin-top: 30px;
    }

    .about .about-content .buttons .btn {
        margin-top: 10px;
        cursor: pointer;
    }

    .download {
        margin: 40px;
    }

    .infos {
        display: list-item;
    }

    .about .title .info {
        display: flex;
    }

    .rightSide {
        width: max-content;
    }

    /* ===== LANGUAGES ===== */
    .about .about-content .language {
        padding-right: 0%;
        padding-left: 0%;
    }

    .about .about-content .language h5 {
        line-height: 40px;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-black-900);
        text-transform: capitalize;
    }

    .about .about-content .language .progress {
        background-color: var(--bg-black-50);
        height: 7px;
        border-radius: 4px;
        width: 100%;
        position: relative;
    }

    .about .about-content .language .progress .progress-in {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 4px;
        background-color: var(--skin-color);
    }

    .about .about-content .language .skill-percent {
        position: absolute;
        right: 0;
        color: var(--text-black-900);
        top: -40px;
        font-weight: 400;
        line-height: 40px;
    }

    /* ===== EDUCATION & EXPERIENCE ===== */
    .about .education-experience {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .about .about-content .education,
    .about .about-content .experience {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
    }

    .about .about-content h2.title {
        font-size: 30px;
        font-weight: 700;
        color: var(--text-black-900);
    }

    .about .about-content h3.title {
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: 700;
        color: var(--text-black-900);
    }

    .about .about-content .timeline {
        background-color: var(--bg-black-100);
        padding: 30px 15px;
        border: 1px solid var(--bg-black-50);
        border-radius: 10px;
        width: 100%;
        position: relative;
    }

    .about .about-content .timeline .timeline-item {
        position: relative;
        padding-left: 37px;
        padding-bottom: 50px;
    }

    .about .about-content .timeline .timeline-item:last-child {
        padding-bottom: 0;
    }

    .about .about-content .timeline .timeline-item::before {
        content: '';
        width: 1px;
        position: absolute;
        height: 100%;
        left: 7px;
        top: 0;
        background-color: var(--skin-color);
    }

    .about .about-content .timeline .circle-dot {
        position: absolute;
        left: 0;
        top: 0;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: var(--skin-color);
    }

    .about .about-content .timeline .timeline-date {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 12px;
        color: var(--text-black-700);
    }

    .about .about-content .timeline .timeline-title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--text-black-900);
    }

    .about .about-content .timeline .timeline-address {
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--text-black-900);
    }

    .about .about-content .timeline .timeline-text {
        line-height: 25px;
        font-size: 16px;
        text-align: justify;
        color: var(--text-black-700);
    }

    /* ===== SKILLS ===== */
    .about .about-content .skill-section {
        display: flex;
        justify-content: space-between;
    }

    .about .about-content .skills {
        flex: 0 0 30%;
        margin-top: 40px;
    }

    .about .about-content .skills h5 {
        line-height: 40px;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-black-900);
        text-transform: capitalize;
    }

    .about .about-content .skills .progress {
        background-color: var(--bg-black-50);
        height: 7px;
        border-radius: 4px;
        width: 100%;
        position: relative;
    }

    .about .about-content .skills {
        margin-bottom: 25px;
    }

    .about .about-content .skills .progress .progress-in {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 4px;
        background-color: var(--skin-color);
    }

    .about .about-content .skills .skill-percent {
        position: absolute;
        right: 0;
        color: var(--text-black-900);
        top: -40px;
        font-weight: 400;
        line-height: 40px;
    }

    /* ===== BUTTON ===== */

    .buttons-about-contact {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 25%);
    }

    .hire-me {
        margin: 40px;
    }

    .cvs {
        margin-right: 0.7rem;
    }
}

/* ================================================== Tablet style ================================================== */
@media (min-width: 710px) and (max-width: 860px) {

    .about .row {
        margin: auto;
        width: 85%;
        top: 25vh;
    }

    .about .about-content .personal-info .info-item p {
        width: 12.4rem;
        font-weight: 600;
        padding: 10px 0;
        font-size: 16px;
        color: var(--text-black-900);
        border-bottom: 1px solid var(--bg-black-50);
    }

    .cvs {
        margin-right: 1rem;
    }

    .about .about-content .skills {
        flex: 0 0 70%;
        margin-bottom: 40px;
        margin-left: 15%;
        max-width: 100%;
    }
}

/* ================================================== Phone style ================================================== */
@media (max-width: 709px) {

    .about .row {
        margin: auto;
        width: 85%;
        top: 25vh;
    }

    .section-title h2 {
        margin: auto;
        width: 50%;
    }
}