/*
   ============
       ABOUT
   ============
*/

/* ================================================== desktop style ================================================== */
@media (min-width: 861px) {

    .main-section {
        /*    display: flex;
        justify: space-evenly;
        /* Distribuisce le sezioni con spazio equidistante */
        display: flex;
        justify-content: space-between;
        /* Distribuisce le sezioni uniformemente */
        margin-top: 5%;
    }

    .content {
        margin-top: 20vh;
    }

    /*
     .container {
        height: 205vh;
    }
*/
/*
    .content {
        min-height: 265vh;
    }
*/
    .sections {
        flex: 1;
    }

    /*
    .split {
        text-align: left;
    }
*/
    /*
    .centered {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
*/
    /*
    .sections {
        flex: 1;
        /* Permette alle sezioni di avere la stessa larghezza 
        padding: 10px;
        box-sizing: border-box;
    }
*/
    .row {
        padding: 12%;
    }

    .info {
        text-align: center;
    }


    .info-item {
        padding: 1.2rem;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 700;
        color: var(--text-black-900);
    }

    h3 span {
        color: var(--skin-color);
    }

    p {
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
    }

    /*
      .info-item p {
        padding: 10px 0;
        font-size: 16px;
        color: var(--text-black-900);
        border-bottom: 1px solid var(--bg-black-50);
    }
*/

    .download {
        margin: 40px;
    }

    .infos {
        padding: 0;
    }

    ul {
        list-style: circle;
    }

    /*
    .title .info {
        display: flex;
    }
*/
    .info__title {
        font-size: large;
    }

    /* ===== LANGUAGES ===== */
    /*
      .language {
        padding: 1rem;
    }
*/
    h5 {
        line-height: 40px;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-black-900);
        text-transform: capitalize;
        font-size: large;
    }

    .progress {
        background-color: var(--bg-black-50);
        height: 7px;
        border-radius: 4px;
        width: 100%;
        position: relative;
    }

    .progress .progress-in {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 4px;
        background-color: var(--skin-color);
    }

    .skill-percent {
        position: absolute;
        right: 0;
        color: var(--text-black-900);
        top: -40px;
        font-weight: 400;
        line-height: 40px;
    }

    /* ===== EDUCATION & EXPERIENCE ===== */
    .education-experience {
        display: flex;
        flex-wrap: nowrap;
        max-width: 1500px;
        width: 100%;
        gap: 10px;
    }

    .education,
    .experience {
        max-width: 50%;
        margin-top: 5%;
    }


    h2.about_title {
        font-size: 30px;
        font-weight: 700;
        color: var(--text-black-900);
        text-align: center;
        margin-top: 5%;
        padding: 0;
    }

    h3.about_title {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 700;
        color: var(--text-black-900);
        text-align: center;
    }

    .timeline {
        background-color: var(--bg-black-100);
        padding: 30px 15px;
        border: 1px solid var(--bg-black-50);
        border-radius: 10px;
        width: 100%;
        position: relative;
    }

    .timeline .timeline-item {
        position: relative;
        padding-left: 37px;
        padding-bottom: 50px;
    }

    .timeline .timeline-item:last-child {
        padding-bottom: 0;
    }

    .timeline .timeline-item::before {
        content: '';
        width: 1px;
        position: absolute;
        height: 100%;
        left: 7px;
        top: 0;
        background-color: var(--skin-color);
    }

    .timeline .circle-dot {
        position: absolute;
        left: 0;
        top: 0;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: var(--skin-color);
    }

    .timeline .timeline-date {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 12px;
        color: var(--text-black-700);
    }

    .timeline .timeline-title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--text-black-900);
    }

    .timeline .timeline-address {
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--text-black-900);
    }

    .timeline .timeline-text {
        line-height: 25px;
        font-size: 16px;
        /*        text-align: justify;*/
        color: var(--text-black-700);
    }

    /* ===== SKILLS ===== */
    .skill-section {
        display: flex;
        justify-content: space-between;
    }

    .skills {
        flex: 0 0 30%;
    }

    .skills h5 {
        line-height: 40px;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-black-900);
        text-transform: capitalize;
    }

    .skills .progress {
        background-color: var(--bg-black-50);
        height: 7px;
        border-radius: 4px;
        width: 100%;
        position: relative;
    }

    /*
      .skills {
        margin-bottom: 25px;
    }
*/
    .skills .progress .progress-in {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 4px;
        background-color: var(--skin-color);
    }

    .skills .skill-percent {
        position: absolute;
        right: 0;
        color: var(--text-black-900);
        top: -40px;
        font-weight: 400;
        line-height: 40px;
    }

    /* ===== BUTTON ===== */
    /*
    .cvs {
        margin-right: 0.7rem;
    }
*/
    .download__button {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

    .buttons__about__portfolio {
        display: flex;
        justify-content: center;
        margin: 5%;
    }
}

/* ================================================== Tablet style ================================================== */
@media (min-width: 710px) and (max-width: 860px) {

    .row {
        margin: auto;
        width: 85%;
        top: 25vh;
    }

    /*
      .personal-info .info-item p {
        width: 12.4rem;
        font-weight: 600;
        padding: 10px 0;
        font-size: 16px;
        color: var(--text-black-900);
        border-bottom: 1px solid var(--bg-black-50);
    }
*/
    .cvs {
        margin-right: 1rem;
    }

    .skills {
        flex: 0 0 70%;
        margin-bottom: 40px;
        margin-left: 15%;
        max-width: 100%;
    }
}

/* ================================================== Phone style ================================================== */
@media (max-width: 709px) {

    .row {
        margin: auto;
        width: 85%;
        top: 25vh;
    }

    .section-title h2 {
        margin: auto;
        width: 50%;
    }
}